- name: Set up Python
  uses: actions/setup-python@v4
  with:
    python-version: '3.10'

- name: Run json_to_txt.py
  run: |
    python codes/pycode/json_to_txt.py
    ls -al
    find . -name "data.txt"

- name: Commit and Push changes
  uses: stefanzweifel/git-auto-commit-action@v5
  with:
    file_pattern: '**/*.txt'
    commit_message: 'Automated txt data update [skip ci]'
    branch: main
